<ion-view view-title="Video Juegos">
  <ion-content class="padding">

<div class="list card">
<center><h2>Accion</h2>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>prototype</p>
<p>$250.00</p>
</div>  
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>Assassin's Creed</p>
<p>$550.00</p>
</div>
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>Kingdom Hearts</p>
<p>$350.00</p>
</div> 
</center>
</div>

<div class="list card">
<center><h2>Aventura</h2>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>Super Mario</p>
<p>$150.00</p>
</div>  
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>Tomb Raider</p>
<p>$500.00</p>
</div>
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/juego.png"/>
<p>Batman: Arkam City</p>
<p>$350.00</p>
</div> 
</center>
</div>
  </ion-content>
</ion-view>