<ion-view view-title="Peliculas">
  <ion-content class="padding">

<div class="list card">
<center><h2>Accion</h2>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>La quinta Ola</p>
<p>$25.00</p>
</div>  
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>Ip man 3</p>
<p>$25.00</p>
</div>
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>Star Wars el despertar de la fuerza</p>
<p>$25.00</p>
</div> 
</center>
</div>

<div class="list card">
<center><h2>Aventura</h2>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>En el corazon del mar</p>
<p>$25.00</p>
</div>  
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>El ultiimo cazador de brujas</p>
<p>$25.00</p>
</div>
<br/>
<div class="item">
<img class="image-list-thumb" width="100px" src="img/pelicula.png"/>
<p>Dragon blade</p>
<p>$25.00</p>
</div> 
</center>
</div>
  </ion-content>
</ion-view>
